#body_index_main{
	background-image:url('../resource/bg_body.jpg');
	width:1000px;
	height:500px;
	*top:-5px;
	*position:relative;
	overflow:hidden;
	margin:5px auto;
}
#index_left{
	float:left;
	width:280px;
	height:500px;
	margin:0px 10px 0px 0px;
	overflow:hidden;
}
#slides_wrapper{
	width:700px;
	height:450px;
	margin:25px 0px;
	overflow:hidden;
}
.left_content{
	padding:75px 0px;
}
.big_character{
	font-family:'华文楷体';
	font-size:50px;
	height:70px;
	line-height:70px;
	vertical-align:middle;
	overflow:hidden;
	display:block;
}
