a{
	text-decoration:none;
}
a img{
	border:0px;
}
body{
	color:#2837fc;
	margin:0px;
	padding:0px;
	text-align:center;
}
#header{
	margin:0px auto;
	width:1000px;
	height:150px;
}
.gap{
	background-image:url('../resource/gap.jpg');
	background-repeat:repeat-x;
	width:1000px;
	height:12px;
	margin:0px auto;
}
#logo{
	float:left;
	height:100px;
	overflow:hidden;
}
#to_taobao{
	float:right;
	width:134px;
	padding:20px 30px 20px 15px;
	overflow:hidden;
}
#navigator{
	float:left;
	width:1000px;
	height:50px;
	overflow:hidden;
	padding:0px 100px;
}
#navigator a:visited{
	color:#2837fc;
}
#navigator a:hover{
	color:#000000;
}
.navi_tab{
	float:left;
	margin:0px 25px;
	padding:0px;
	background-image:url('../resource/navi_tab.jpg');
	width:150px;
	height:50px;
	overflow:hidden;
	font-family:'华文楷体';
	font-size:22px;
	line-height:50px;
	vertical-align:middle;
}
.navi_selected{
	color:#000000;
}
#main_body{
	height:1000px;
}
.foot_content{
	height:40px;
	line-height:40px;
	vertical-align:middle;
	margin:0px auto;
}
ul,li{
	margin:0px;
	padding:0px;
	text-align:center;
	list-style:none;
}
