#slides{
	position:relative;
	width:700px;
	height:450px;
}

.slide{
	position:absolute;
	padding:0px;
	top:0px;
	left:0px;
}

.img-wrapper{
	width:700px;
	overflow:hidden;
}
.slide_tags{
	top:400px;
	left:500px;
	z-index:100;
	position:relative;
}
.slide_tag{
	height:13px;
	width:15px;
	margin:0px 5px;
	background-color:#FFF;
	color:#2837fc;
	font-size:12px;
	float:left;
	cursor:pointer;
	position:relative;
}
.tag_current{
	background-color:#999;
	width:20px;
}
